extends ./layout

block styles
	link(rel="stylesheet", type="text/css", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
	//-link(rel="stylesheet", type="text/css", href="https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.css")

block body
	span#cityName(style="display:none; visibility:hidden")= cityName
	#wrap-app

	//- src react
	script(src="/js/JSXTransformer.js")
	script(src="/js/react.js")

	//- src jquery
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")

	//- map pake native leaflet
	script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
	script(src="/js/leaflet-search.min.js")

	//- src main-app
	script(src="/js/DestModel.js")
	script(type="text/jsx", src="/js/map-component-leaflet.js")
	script(type="text/jsx", src="/js/main-app.js")

	//- script(type="application/javascript").
	//- 	$(function() {
	//- 		$('#toggle-dest-list').click( function() {
	//- 			$('#map-canvas').toggleClass('open');
	//- 			$('#wrap-dest-list').toggleClass('open');
	//- 		});
	//- 	})

	//- src mapbox
	//-script(src="https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.js")