box-shadow()
	box-shadow 0 0 12px #999

html, body
	height 100%
	
#wrap-app
	position absolute
	top 65px
	bottom 0
	left 0
	right 0

	#map-canvas
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		z-index 1
	
	#input-search-box
		position absolute
		top 20px
		left 300px
		background-color white
		width 40%
		z-index 20
		padding 0 10px 10px
		box-shadow()
		
	#left
			position absolute
			top 20px
			left 20px
			bottom 40px
			padding 8px
			width 250px
			background-color white
			overflow auto
			z-index 10
			box-shadow()
			
	/*#right
		position absolute
		top 0
		left 250px
		bottom 0
		right 0
		padding 15px
		overflow auto
		z-index 12*/